/**
 * App header
 */
.appHeader {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--app-header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.appHeader a {
  color: currentColor;
  text-decoration: none;
}

.appMainNavToggleBtn {
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}

.appMainNavToggleBtn,
.appMainNavCloseBtn {
  font-size: 0;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
}

.appMainNavToggleBtn::before,
.appMainNavCloseBtn::before {
  content: '';
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.4rem;
}

.mobileNavButton {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

/* Buttons */
.appMainNavToggleBtn::before {
  background-image: url('/icons/menu.svg');
}

.appMainNavCloseBtn::before {
  background-image: url('/icons/x.svg');
}

/* Navigation */
.appMainNavContainer {
  display: flex;
  flex: 1;
}

.appMainNav,
.appMainMenu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.appMainNav a,
.appMainMenu a {
  display: inline-block;
  padding: 0.375rem 0;
}

.appMainNav,
.appMainNav li,
.appMainMenu,
.appMainMenu li {
  margin: 0;
  padding: 0;
  position: relative;
}

/* Mobile styles */
@media (max-width: 760px) {
  .appMainNavContainer {
    z-index: 1000;
    position: fixed;
    left: -100%;
    width: calc(100% - 4rem);
    top: 0;
    bottom: 0;
    background-color: #fff;
    flex-direction: column;
    padding: 0.5rem 1rem;
    transition: left 0.275s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .appMainNav {
    flex-direction: column;
    gap: 0.5rem
  }

  .appMainNav li {
    margin: 0;
  }

  .appMainNav a {
    display: block;
    padding: 0.25rem 0;
  }
}

/* Desktop styles */
@media (min-width: 768px) {

  .appMainNavToggleBtn,
  .appMainNavCloseBtn {
    display: none;
  }

  .appMainNav li {
    display: block;
  }

  [data-mobile-nav-open="true"] .navOverlay {
    display: none;
  }
}

.appMainMenu li::after,
.appMainNav li::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  border-bottom: solid 1px currentColor;
  content: '';
}

.appMainMenu li.active::after,
.appMainNav li.active::after {
  display: block;
}

/* Logo */
.appHeaderLogo {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  line-height: 1;
}

.appHeaderLogo img {
  width: auto;
  height: 36px;
}

/* Menu Icon */
.locationLink::before,
.loginLink::before {
  content: '';
  margin: 0 0.25rem 0 0;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.locationLink::before {
  background-image: url('/icons/globe.svg');
}

.loginLink::before {
  background-image: url('/icons/user.svg');
}

.navOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  transition-property: opacity left;
  transition: opacity 0.275s ease-in-out;
  opacity: 0;
}

[data-mobile-nav-open="true"] .appMainNavContainer {
  left: 0;
}

[data-mobile-nav-open="true"] .navOverlay {
  opacity: 0.5;
  right: 0;
}