/**
 * App header
 */
.appHeader {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--app-header-background);
  display: flex;
  align-items: center;
  padding: 8px 15px;
  font-size: 1rem;
}

.appHeader a {
  color: currentColor;
  text-decoration: none;
}

.appHeader ul {
  display: block;
}

.appHeader li {
  position: relative;
  display: inline-block;
}

.appHeader ul,
.appHeader li {
  margin: 0;
  padding: 0;
}

/* Navigation */
.appMainNav {
  flex: 1;
}

.appMainNav li + li,
.appMainMenu li + li {
  margin-left: 15px;
}

.appMainMenu li::after,
.appMainNav li::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  border-bottom: solid 1px currentColor;
  content: '';
}

.appMainMenu li.active::after,
.appMainNav li.active::after {
  display: block;
}

.appMainNav li + li {
  position: relative;
  display: inline-block;
}

/* Logo */
.appHeaderLogo {
  display: inline-block;
  margin-right: 15px;
}
.appHeaderLogo img {
  width: auto;
  height: 32px;
}
