:root {
  --app-blank-page-background: #f5f5f5;
  --app-blank-page-foreground: #ccc;
  --app-blank-page-title-size: 2rem;

  --app-header-background: #fff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--app-blank-page-background);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

label,
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

/**
 * App container
 */
.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
